/* ##########################################################################

Inspiration:
https://davidwalsh.name/css-flip
https://www.w3schools.com/howto/howto_css_animate_buttons.asp

############################################################################*/
/* ############################################################################
#
#
#                                Global CSS
#                              Table of Contents
1. Layouts
2. Components
  2.1 flipButton
  2.2 flashcard
  2.3 Overlay
3. Responsive Break points
#
#
#
#
##############################################################################*/

/* ############################################################################

                              1. Layouts

##############################################################################*/

#mainFlashcardContainer {
  position: relative;
  display: grid;
  place-items: center;
  padding: 5rem 0;
}


/* ############################################################################

                              2. Components

##############################################################################*/

/* ########## 2.1 Flipbutton ########### */

#flipButton {
  background-color: #268bcc;
  border: 1px solid #268bcc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
  font-size: 2rem;
  color: #F5F5F5;
  padding: 1rem;
  width: 267px;
  text-align: center;
  transition: all 300ms ease-in;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#flipButton:hover, #flipButton:focus {
  background-color: #f5f5f5;
  color: #268bcc;
  border: 1px solid #268bcc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
}

/* ########## 2.2 Flashcard Container ########## */

.flashcard-container {
  display: grid;
  place-items: center;
  perspective: 100rem;
  font-family: sans-serif;
  background: transparent;
  width: 320px;
  height: 267px;
}

.flashcardInner {
  width: 85%;
  height: 85%;
  transition: all 300ms ease;
  transform-style: preserve-3d;
}

.flashcardInner:active, .flashcardInner:focus {
  transform: rotateY(180deg);
}


.flashcardFront, .flashcardBack {
  border-radius: 12px;
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flashcardFront {
  background-color: #268bcc;
  color: #f5f5f5;
  border: 2px solid #268bcc;
}

.flashcardBack {
  background-color: #f5f5f5;
  border: 2px solid #268bcc;
  transform: rotateY(180deg);
}

.flashcard-text {
  font-size: 1.7rem;
  text-align: center;
}


/* ########## 2.3 Overlay ########## */

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 300ms ease-in-out;
}

.overlay-text-for-button-area {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  border: 1px solid #268bcc;
  border-radius: 5px;
  margin: 0.5rem;
}

.left-arrow {
  font-size: 2rem;
  padding-left: 1rem;
}

.overlay-text-for-flashcard-area {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  border: 1px solid #268bcc;
  border-radius: 5px;
  margin: 1rem;
}

#overlay-text {
  font-size: 0.8rem;
  text-align: center;
  padding-right: 1rem;
}

#close-overlay-button {
  position: absolute;
  bottom: 0px;
  margin: 1rem;
  text-decoration: none;
  border: none;
  background-color: #268bcc;
  color: #f5f5f5;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

#close-overlay-button:hover, #close-overlay-button:focus {
  background-color: #f5f5f5;
  color: #268bcc;
}

#overlay-open-button {
  margin: 1rem;
  text-decoration: none;
  border: 1px solid #268bcc;
  background-color: #f5f5f5;
  color: #268bcc;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

#overlay-open-button:hover, #overlay-open-button:focus {
  background-color: #268bcc;
  color: #f5f5f5;
}

/* ############################################################################

                            3. Responsive Page Points

############################################################################# */
@media screen and (min-width: 750px) {
  /*Add new content before this comment*/
}

@media screen and (min-width: 970px) {
  .flashcard-container {
    width: 400px;
    height: 400px;
  }


  /*Add new content before this comment*/
}


/*################################ END #######################################*/
