/* ##########################################################################

credit
https://davidwalsh.name/css-flip
https://www.w3schools.com/howto/howto_css_animate_buttons.asp

############################################################################*/
.mainFlashcardContainer {
  display: flex;
  justify-content: space-between;
}

#flipButton {
  position: relative;
  background-color: #268bcc;
  border: 1px solid #268bcc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  margin: 2rem;
  font-size: 2rem;
  color: #F5F5F5;
  padding: 1rem;
  width: 50%;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#flipButton:hover, #flipButton:focus {
  background-color: #f5f5f5;
  color: #268bcc;
  border: 1px solid #268bcc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

#flipButton:after {
  content: "";
  background: #268bcc;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#flipButton:active:after {
  flashcardFront.style.background() padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

/* entire container, keeps perspective */
.flashcard-container {
  perspective: 1000px;
}

.flashcard-container H3 {
  font-size: 2.5rem;
}

/* flip the pane when hovered */
.flashcard-container:hover .flashcard, .flashcard-container.hover .flashcard {
  transform: rotateY(180deg);
}

.flashcard-container, .flashcardFront, .flashcardBack {
  width: 320px;
  height: 480px;
}

/* flip speed goes here */
.flashcard {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}

/* hide back of pane during swap */
.flashcardFront, .flashcardBack {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.flashcardFront {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  background-color: #268bcc;
  border: 2px solid #268bcc;
  color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.flashcardBack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f5f5;
  border: 2px solid #268bcc;
  color: #268bcc;
  transform: rotateY(180deg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.flashcard-text {
  font-size: 1.7rem;
  text-align: center;
  overflow-wrap: break-word;
  /*trying to wrap the words onto 2 lines
}
