/* ############################################################################

                                Global CSS
                     Common CSS for all .html pages

##############################################################################*/
* {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

body {
  position: relative;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #268bcc;
  background-color: #f5f5f5;
}

.main-positioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

a {
  color: #a54a4a;
  font-weight: 800;
}

p {
  padding: 10px;
}

/* link & button styling with hover animation */
.social-link-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin-top: 3rem;
  justify-items: center;
}

.social-link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  color: #268bcc;
  font-weight: 800;
  width: 100%;
}

.link-style {
  border: 3px solid #268bcc;
  text-decoration: none;
  color: #268bcc;
  padding: 2rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  transition: all 300ms ease-in-out;
}

.link-style:hover, .link-style:focus {
  background-color: #268bcc;
  color: #f5f5f5;
  transform: rotate(1deg);
}

.link-style-icon {
  font-size: 4rem;
  margin: 1rem;
}

.button-text {
  display: none;
}

/* ############################# Hero cover #################################*/
.hero-h1 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 4rem;
  color: lightgray;
  text-shadow: 2px 2px black;
  text-transform: uppercase;
  text-align: center;
  transition: all 200ms ease-in;
}

.hero-h3 {
  font-size: 2rem;
  color: lightgray;
}

/* ############################### Header ###################################*/
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  text-align: center;
  padding-left: 20px;
  height: 5rem;
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  transition: all 200ms ease-in-out;
}

.header-menuButton-title {
  display: flex;
  transition: all 200ms ease-in-out;
}

.header-title {
  font-size: 2rem;
}

.menu-icon {
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  /* padding-right: 20px; */
  border: none;
  transition: all 200ms ease-in-out;
}

.menu-icon:hover, .menu-icon:focus {
  color: #268bcc;
}

/* ####################### Side Menu CSS items ############################## */
.side-nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(38, 139, 204, 1);
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  font-size: 2rem;
}

.menu-button-area {
  display: flex;
  justify-content: flex-end;
}

.menu-button {
  transition: all 200ms ease-in-out;
}

.menu-button:hover, .menu-button:focus {
  color: #268bcc;
}

.nav-close-button {
  color: #f5f5f5;
  background-color: #268bcc;
  transition: 0.3s;
  border: none;
  padding: 0.5rem;
}

.close-icon {
  font-size: 1.5rem;
}

.nav-close-button:hover, .nav-close-button:focus {
  background-color: #f5f5f5;
  color: #268bcc;
}

.side-nav-menu {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-gap: 10px; */
  padding-left: 0;
  /*this gets rid of space where bullets would be */
  text-align: left;
  list-style: none;
  margin-top: 2rem;
}

.side-nav-menu a {
  padding: 1.2rem 0.5rem;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  list-style: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.menu-link {
  transition: all 300ms ease-in-out;
}

.menu-link:hover, .menu-link:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-link:hover::before {
  content: "  ";
}

.menu-link-item {
  width: 100%;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  transition: 0.3s;
  border: none;
}

.side-nav-menu-attribution {
  position: fixed;
  bottom: 0;
  padding-bottom: 1rem;
  transition: 0.3s;
}

#side-nav-menu-attribution-text {
  padding-left: 1rem;
  font-size: 0.7rem;
  color: #f5f5f5;
  background-color: transparent;
  border: none;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

#side-nav-menu-attribution-text:hover {
  text-decoration: underline;
}

[aria-current] {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

[aria-current]::before {
  content: "  ";
}

/* ############################# Footer ##################################### */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: #268bcc;
  color: #fff;
  font-weight: 800;
  text-align: center;
  height: 5vh;
  width: 100%;
}

footer p {
  padding: 0px;
  margin: 0px;
}

/* ############################################################################

                                Home Page CSS

############################################################################# */
.hero-cover-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/holgersson-unsplash-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 15px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9)
}

/* ##### Main ###### */
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.home-content p {
  margin: 0 0;
}

.hero-button {
  background-color: #339071;
  color: #f5f5f5;
  border: none;
  font-size: 3rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  border: 1px solid #339071;
  /* to stop reflow when adding border pixel */
  text-decoration: none;
  transition: all 300ms ease-in;
}

.hero-button:hover {
  background-color: #f5f5f5;
  color: #339071;
  border: 1px solid #339071;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}

.creditQuote {
  font-size: 0.5rem;
}

/* ############################################################################

                            Flashcard CSS

############################################################################# */
.hero-cover-flashcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/lin-mei-unsplash-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 15px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9)
}

/* ############################################################################

                            About Page CSS

############################################################################# */
.hero-cover-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/eberhard-grossgasteiger-unsplash-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 15px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9)
}

.about-intro-text {
  margin: 0px;
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
}

.about-intro-hero-name {
  margin: 0px;
  text-align: center;
  font-size: 3rem;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about-text p {
  margin: 1rem 1rem;
  padding: 0rem 1rem;
}

/* .photo-container {
  display: box;
  justify-content: center;
} */
.photo-embed {
  height: auto;
  width: 350px;
  Z-index: -1;
  filter: grayscale(1);
  transition: filter 200ms ease, transform 250ms linear;
}

.photo-container:hover img,
.photo-container:focus img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}

/* ############################################################################

                            Social Page CSS

############################################################################# */
.hero-cover-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/b-nw-unsplash-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 15px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9)
}

.social-h3 {
  text-align: center;
  font-size: 3rem;
  margin-top: 5rem;
}

/* ############################################################################

                            Session Page CSS

############################################################################# */
.hero-cover-session {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/michal-matlon-unsplash-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 15px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9)
}

.session-title {
  text-align: center;
  font-size: 3rem;
}

.session-intro {
  margin-top: 5rem;
}

.session-list {
  list-style: none;
  padding: 1rem;
  text-align: center;
}

.session-copy {
  text-align: center;
}

.session-QRcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.session-QRcode-title {
  background-color: #268bcc;
  color: #f5f5f5;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  width: 100%%;
}

.session-QRcode-text {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.session-QRcode-text p {
  height: auto;
}

.session-button {
  width: 200px;
}

.modal-background {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* height: 100%; */
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.session-button-modal-h1 {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, .3);
  font-size: 2.5rem;
  padding: 1rem;
}

.modal-close-button {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 2rem;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  transition: 0.3s;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.session-button-modal-text .modal-close-button {
  padding: 20px;
}

.modal-close-icon {
  font-size: 1rem;
}

.modal-close-button:hover {
  color: #268bcc;
  background-color: #f5f5f5;
  border: 1px solid #268bcc;
}

/* ############################################################################

                        CSS Responsive Page Points

############################################################################# */
@media screen and (min-width: 750px) {

  /* Tablets */
  .hero-cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../images/holgersson-unsplash.jpg);
  }

  .social-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
  }

  .link-style {
    padding: 2rem 8rem;
  }

  .social-link-item {
    grid-gap: 0;
    width: 40%;
  }

  /* ### About Page ### */
  .photo-embed {
    height: auto;
    width: 500px;
  }

  /*Add new content before this comment*/
}

@media screen and (min-width: 970px) {

  /* Desktops */
  /* ##### Global CSS */
  .hero-cover-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../images/holgersson-unsplash.jpg);
  }

  .hero-cover-flashcard {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../images/lin-mei-unsplash.jpg);
  }

  .hero-cover-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../images/eberhard-grossgasteiger-unsplash.jpg);
  }

  .hero-cover-social {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../images/b-nw-unsplash.jpg);
  }

  .hero-cover-session {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../images/michal-matlon-unsplash.jpg);
  }

  .hero-h1 {
    margin: 10px;
    font-size: 6rem;
    color: lightgray;
  }

  /* .menu-icon {
    font-size: 3rem;
  } */
  /* ##### Home Page ####### */
  .home-content p {
    padding: 0px 30%;
    margin: 0.5rem 0;
  }

  /* ##### About Page ###### */
  .about-text p {
    padding: 0px 20%;
    margin: 0.5rem 0;
  }

  .social-link-grid {
    grid-template-columns: 1fr 1fr;
    margin: 2.5rem 2.5rem;
  }

  .social-link-item {
    grid-gap: 0;
    width: 40%;
  }

  .photo-embed {
    margin: 1rem 0;
    height: auto;
    width: 700px;
  }

  /*Add new content before this comment*/
}

/* ############################################################################
#
#                                Used for JS
#
#############################################################################*/
.white {
  color: #f5f5f5;
}

.blue {
  color: #268bcc;
}

.stop-scroll {
  overflow-y: hidden;
}

.interaction-disabled {
  pointer-events: none;
}

.interaction-enabled {
  pointer-events: auto;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.header-background-opacity {
  background-color: rgba(245, 245, 245, 1);
  width: 100%;
}

.menu-icon-white {
  background-color: transparent;
  color: #fff;
}

.menu-icon-blue {
  background-color: transparent;
  color: #268bcc;
}

.transformSmall {
  transform: translateY(-100%);
}

.transformLarge {
  transform: translateY(0%);
}

.shadow-footer {
  box-shadow: 2px 0 4px 4px rgba(0, 0, 0, .3);
}

/*will not work for animation*/
.display-none {
  display: none;
}

.display {
  display: block;
}
