/* ############################################################################

                                Global CSS
                     Common CSS for all .html pages

##############################################################################*/
* {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

body {
  position: relative;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #268bcc;
  background-color: #f5f5f5;
}

.main-positioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

a {
  color: #a54a4a;
  font-weight: 800;
}

p {
  padding: 10px;
}

/* colors */
.white {
  color: #f5f5f5;
}

.blue {
  color: #268bcc;
}

/*animation*/
.display-none {
  display: none;
}

.stop-scroll {
  overflow-y: hidden;
}

.interaction-disabled {
  pointer-events: none;
}

.interaction-enabled {
  pointer-events: auto;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* link & button styling with hover animation */
.social-link-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin-top: 3rem;
  justify-items: center;
}

.social-link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  color: #268bcc;
  font-weight: 800;
  width: 100%;
}

.link-style {
  border: 3px solid #268bcc;
  text-decoration: none;
  color: #268bcc;
  padding: 2rem 2rem;
}

.link-style:hover, .link-style:focus {
  background-color: #268bcc;
  color: #f5f5f5;
}

.link-style-icon {
  font-size: 4rem;
  margin: 1rem;
}

/* ############################# Hero Image #################################*/
.hero-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/holgersson-unsplash-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 15px;
  z-index: 1;
  <div id="map"></div>
}

.hero-h1 {
  margin: 10px;
  font-size: 4rem;
  color: lightgray;
  text-shadow: 2px 2px black;
  text-transform: uppercase;
}

.hero-h3 {
  font-size: 2rem;
  color: lightgray;
}
/* ############################### Header ###################################*/
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  text-align: center;
  padding-left: 20px;
  height: 5rem;
  z-index: 1;
  position: fixed;
  top: 0px;
}

.shadow {
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, .2);
}

.shadow-footer {
  box-shadow: 2px 0 4px 4px rgba(0, 0, 0, .3);
}

.header-title {
  font-size: 2rem;
}

.menu-icon {
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  padding-right: 20px;
  border: none;
}

/* ########################### Used for JS ################################# */
.header-background-opacity {
  background-color: rgba(245, 245, 245, 1);
  width: 100%;
}

.menu-icon-white {
  background-color: transparent;
  color: #fff;
}

.menu-icon-blue {
  background-color: transparent;
  color: #268bcc;
}

/* ####################### Side Menu CSS items ############################## */
.side-nav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(38, 139, 204, 1);
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 60px;
}

.side-nav .close-button {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.side-nav-menu {
  padding-left: 0; /*this gets rid of space where bullets would be */
  text-align: left;
  list-style: none;
}

.side-nav-menu li {
  padding: 1.2rem 0.5rem;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  list-style: none;
  -webkit-transition: all 300ms ease-in-out;
         transition: all 300ms ease-in-out;
}

.side-nav-menu li:hover{
  width: 100%;
  background-color: rgba(0, 0, 0,0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0,0.3);
}
.side-nav-menu li:focus {
  width: 100%;
  background-color: rgba(0, 0, 0,0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0,0.3);
}

.menu-link {
  text-decoration: none;
  font-size: 2.5rem;
  color: #fff;
  background-color: transparent;
  transition: 0.3s;
  border: none;
}

.menu-link-item {
  width: 100%;
}

.side-nav-menu-attribution {

  position: fixed;
  bottom: 0;
  padding-bottom: 1rem;
}

.side-nav-menu-attribution-text {
  padding-left: 1rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.side-nav-menu-attribution-text:hover {
  text-decoration: underline;
  -webkit-transition: width 0.1s;
         transition: width 0.1s;

}

[aria-current] {
  width: 100%;
  background-color: rgba(0, 0, 0,0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0,0.3);
}

/* ############################# Footer ##################################### */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: #268bcc;
  color: #fff;
  font-weight: 800;
  text-align: center;
  height: 5vh;
  width: 100%;
  margin-top: 5vh;
}

footer p {
  padding: 0px;
  margin: 0px;
}

/*################################ END #######################################*/
/* ############################################################################

                                Home Page CSS
                             CSS for the Home Page

############################################################################# */
/* ##### Main ###### */
.hero-button {
  background-color: transparent;
  color: #cd5c5c;
  border: none;
  font-size: 3rem;
}

.hero-button:active {
  transform: scale(1.1);
  /* Testing out button animation - callouts */
}

/*################################ END #######################################*/
/* ############################################################################

                            About Page CSS
                         CSS for the About Page

############################################################################# */
.about-intro-text {
  margin: 0px;
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
}

.about-intro-hero-name {
  margin: 0px;
  text-align: center;
  font-size: 3rem;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about-text p {
  margin: 1rem 1rem;
  padding: 0rem 1rem;
}

.photo-container {
  display: flex;
  justify-content: center;
}

.photo-embed {
  height: auto;
  width: 350px;
}

/*################################ END #######################################*/
/* ############################################################################

                            Social Page CSS
                            CSS for the socials Page

############################################################################# */

.social-h3 {
  text-align: center;
  font-size: 3rem;
  margin-top: 5rem;
}

/*################################ END #######################################*/
/* ############################################################################

                            Session Page CSS
                            CSS for the Sesssion Page


############################################################################# */

.session-title {
  text-align: center;
  font-size: 3rem;
}

.session-intro {
  margin-top: 5rem;
}

.session-list {
  list-style: none;
  padding: 1rem;
  text-align: center;
}

.session-copy {
  text-align: center;
}

.session-QRcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.session-QRcode-title {
  background-color: #268bcc;
  color: #f5f5f5;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.session-QRcode-text {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.session-QRcode-text p {
  height: auto;
  width: 10rem;
}

/*################################ END #######################################*/
/* ############################################################################

                                    CSS
                            Responsive Page Points

############################################################################# */

@media screen and (min-width: 750px) {

  /* Tablets */
  .hero-cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../images/holgersson-unsplash.jpg);
  }

  .social-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
  }

  .link-style {
    padding: 2rem 8rem;
  }

  .social-link-item {
    grid-gap: 0;
    width: 40%;
  }
  /* ### About Page ### */
  .photo-embed {
    height: auto;
    width: 500px;
  }

  /*Add new content before this comment*/
}

@media screen and (min-width: 970px) {

  /* Desktops */
  /* ##### Global CSS */
  .hero-cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../images/holgersson-unsplash.jpg);
  }

  .hero-h1 {
    margin: 10px;
    font-size: 6rem;
    color: lightgray;
  }

  .menu-icon {
    font-size: 3rem;
  }

  /* ##### About Page ###### */
  .about-text {
    padding: 0px 150px;
  }

  .social-links {
    grid-template-columns: 1fr 1fr;
    margin: 2.5rem 2.5rem;
  }

  .social-link-item {
    grid-gap: 0;
    width: 40%;
  }

  .photo-embed {
    height: auto;
    width: 700px;
  }

  /*Add new content before this comment*/
}

/*################################ END #######################################*/
/* ###########################################################################

                              TESTING GRAVEYARD

############################################################################ */
